.carousel-inner img {
	height: 400px;
  width: auto; 
}
.card-img-top {
	width: auto;
	height: 300px;
}
.page-footer {
	border-top: solid 2px black;
	background-color: #D3D3D3;
	padding-top: 20px;
	margin-top: 20px;
}
#account-nav {
	display: none;
}