/*All web pages CSS*/
.page-footer {
	border-top: solid 2px black;
	background-color: #D3D3D3;
	padding-top: 20px;
	margin-top: 20px;
}
#account-nav {
	display: none;
}
#sign-out-nav {
	display: none;
}
h3 {
	color: #228B22;
}
.bg-custom {
	background: #228B22;
}

/*Index Html CSS*/
.carousel-inner img {
	height: 400px;
  width: auto; 
}
.card-img-top {
	width: auto;
	height: 300px;
}

/*Store details Html CSS*/
#visit-us-card {
	margin-top: 60px;
}
#visit-us-card-img {
	width: 800px;
	height: 300px;
	opacity: 0.5;
}
.center-img {
    margin-left: auto;
    margin-right: auto;
 }
 .store-details-divs {
 	margin-top: 20px;
 }
 .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "+"; 
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
 /*Online store Html CSS*/
#shop-now-card {
	margin-top: 60px;
}
#shop-now-card-img {
	width: 800px;
	height: 300px;
	opacity: 0.5;
}
.storeItemRows {
	margin-top: 20px;
}
 /*Log in or register Html CSS*/
 #sign-in-card {
	margin-top: 60px;
}
#signin-card-img {
	width: 800px;
	height: 300px;
	opacity: 0.5;
}
